* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Colors */
    --castleton-green: #145a32ff;
    --sea-green: #1e8449ff;
    --emerald: #58d68dff;
    --celadon: #a9dfbfff;
    --white: #ffffffff;
    --black: #000000ff;
    
    /* Fonts */
    --teko: "Teko", sans-serif;
    --anton: "Anton", sans-serif;
    --roboto: "Roboto", sans-serif;
}

@keyframes Circling {
    
    0% {
        rotate: 0deg;
        scale: 100%;
    }

    50% {
        rotate: 180deg;
        scale: 50%;
    }

    100% {
        rotate: 360deg;
        scale: 200%;
    }
}

/* SitePlan */

/* Header */

header {
    background-color: var(--castleton-green);
    font-family: var(--teko);
    color: white;
}

header img {
    width: 100px;
}

header img:hover {
    animation: Circling 3s ease-out;
}

.header-div {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
    width: 40%;
    text-align: center;
}

nav a:hover {
    background-color: var(--emerald);
    color: black;
}

/* Main */

main {
    padding: 15px;
    margin: 20px;
    font-family: var(--roboto);
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

.main-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.main-div section {
    border: 1px solid var(--castleton-green);
    padding: 10px;
}

section li {
    list-style: none;
    padding: 10px;
    color: black;
    font-size: 20px;
}

#black {
    background-color: var(--black);
    color: white;
}

#castleton {
    background-color: var(--castleton-green);
    color: var(--white);
}

#sea {
    background-color: var(--sea-green);
    color: var(--white);
}

#emerald {
    background-color: var(--emerald);
}

#celadon {
    background-color: var(--celadon);
}

#teko {
    font-family: var(--teko);
    font-size: 30px;
}

#anton {
    font-family: var(--anton);
}

#roboto {
    font-family: var(--roboto);
}

#wireframes {
    display: flex;
    gap: 20px;
}

#wireframes img {
    max-width: 400px;
    max-height: 300px;
}

footer {
    background-color: var(--castleton-green);
    color: var(--white);
    font-family: var(--anton);
    font-size: 20px;
    padding: 20px;
    text-align: center;
}