* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Colors */
    --castleton-green: #145a32ff;
    --sea-green: #1e8449ff;
    --emerald: #58d68dff;
    --celadon: #a9dfbfff;
    --white: #ffffffff;
    --black: #000000ff;
    
    /* Fonts */
    --teko: "Teko", sans-serif;
    --anton: "Anton", sans-serif;
    --roboto: "Roboto", sans-serif;
}

@keyframes Circling {
    0% {
        rotate: 0deg;
        scale: 100%;
        translate: 0 0;
    }

    50% {
        rotate: 180deg;
        scale: 50%;
        translate: 0 0;
    }

    90% {
        rotate: 360deg;
        scale: 200%;
        translate: 0 0;
    }

    92% {
        translate: -2px 0;
    }

    94% {
        translate: 2px 0;
    }

    96% {
        translate: -2px 0;
    }

    98% {
        translate: 2px 0;
    }

    100% {
        rotate: 360deg;
        scale: 200%;
        translate: 0 0;
    }
}

/* SitePlan */

/* Header */

header {
    background-color: var(--castleton-green);
    font-family: var(--teko);
    color: white;
}

header img {
    width: 100px;
}

header img:hover {
    animation: Circling 4s ease-out;
}

.header-div {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
    width: 40%;
    text-align: center;
}

nav a:hover {
    background-color: var(--emerald);
    color: black;
    border-bottom: 5px solid var(--sea-green);
}

/* Main */



footer {
    background-color: var(--castleton-green);
    color: var(--white);
    font-family: var(--anton);
    font-size: 20px;
    padding: 20px;
    text-align: center;
}