@media screen and (min-width: 1000px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Cardo", "serif";
    }
    
    :root {
        --silver: #c5c5c5ff;
        --outer-space: #4c5b61ff;
        --battleship-gray: #829191ff;
        --battleship-gray-2: #949b96ff;
        --dark-slate-gray: #2c423fff;
    }

    /* Header */

    header {
        background-color: var(--silver);
        display: flex;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        padding: 20px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
    }

    nav {
        display: flex;
        position: absolute;
        right: 10px;
    }

    /* Main */

    #hero-image button {
        padding: 20px;
        font-size: 20px;
    }

    #hero-image img {
        opacity: 0.6;
        width: 100%;
        height: auto;
        z-index: 0;
    }
    
    .home-sections {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .business-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-bottom: 40px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}