/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cardo", "serif";
}

:root {
    --silver: #c5c5c5ff;
    --outer-space: #4c5b61ff;
    --battleship-gray: #829191ff;
    --battleship-gray-2: #949b96ff;
    --dark-slate-gray: #2c423fff;
}

@keyframes myTransition {
    
    0% {
        rotate: 0deg;
        scale: 10%;
    }

    50% {
        rotate: 180deg;
    }

    100% {
        rotate: 360deg;
        scale: 100%;
    }
}

@keyframes margins {
    
    0% {
        border: 1px solid var(--silver);
        margin: 10px;
    }

    50% {
        border: 5px solid var(--outer-space);
        margin: 20px;
    }

    100% {
        border: 1px solid var(--silver);
        margin: 0;
    }
}

/* General */

h1 {
    padding-left: 10px;
}

button {
    border: none;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    padding: 5px;
    gap: 5px;
    align-items: center;
    background-color: var(--silver);
}

/* Header */

header {
    background-color: var(--silver);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-bottom: 5px solid var(--dark-slate-gray);
}

header img {
    width: 70px;
    height: 70px;
    border: 2px solid var(--battleship-gray-2);
    margin-right: 5px;
    align-self: center;
    justify-self: center;
}

#first-header-div {
    display: flex;
}

#header-div {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
}

#header-div h1 {
    font-size: 30px;
    color: var(--dark-slate-gray);
    font-weight: bold;
}

#header-div p {
    font-size: 20px;
}

nav {
    display: none;
    background-color: var(--battleship-gray-2);
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 100;
}

a {
    text-decoration: none;
    color: var(--dark-slate-gray);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

a:hover, a:active {
    background-color: var(--dark-slate-gray);
    color: var(--silver);
}

#header-button {
    align-self: center;
    border-left: 0.5px solid var(--dark-slate-gray);
}

.open {
    display: grid;
    grid-template-columns: 1fr;
}

#header-button img {
    width: 30px;
    height: auto;
}

/* Main */

/* Hero section */

#main-section {
    display: flex;
    flex-direction: column-reverse;
}
    
#hero-image {
    position: relative;
}

#hero-image img {
    opacity: 0.6;
    width: 100%;
    height: auto;
    z-index: 0;
}

#hero-image button {
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: var(--dark-slate-gray);
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
}

#hero-image button:hover {
    background-color: var(--silver);
    color: var(--dark-slate-gray);
}

a:hover, a:active {
    background-color: var(--dark-slate-gray);
    color: var(--silver);
}

/* Home Sections */

.home-sections {
    display: grid;
    grid-template-columns: 1fr;
}

.home-sections section {
    background-color: var(--battleship-gray-2);
    margin: 0 10px 20px 10px;
    height: auto;
    padding-bottom: 10px;
}

.home-sections h2 {
    background-color: var(--dark-slate-gray);
    color: var(--silver);
    padding: 10px;
}

/* Weather Section */

#weather-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    align-items: center;
    justify-items: center;
}

#weather-section p {
    padding: 5px;
}

#weather-image img {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}

/* Weather Forecast Section */

#weather-forecast, #weather-forecast span {
    padding: 20px;
    font-size: 20px;
}

#weather-forecast p {
    padding: 5px;
}

/* Buttons: Grid and Flex */

#buttons {
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-self: center;
    gap: 20px;
}

#buttons button {
    cursor: pointer;
}

#buttons button img {
    width: 20px;
    height: auto;
}

/* Business Cards */

.business-cards {
    justify-items: center;
    gap: 20px;
}

.business-cards section {
    margin: 20px;
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr;
}

.flex-view {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    background-color: var(--battleship-gray-2);
    border: 3px solid var(--dark-slate-gray);
    padding: 20px;
    margin: 10px auto;
    width: 95%;
    border-radius: 10px;
}

.main-info {
    text-align: center;
    border-bottom: 0.5px solid var(--dark-slate-gray);
}

.information p {
    padding: 5px;
}

.information {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    gap: 10px;
}

.imageDiv {
    justify-self: center;
    align-self: center;
}

.imageDiv img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

span {
    font-weight: bolder;
    font-size: 18px;
}

.spotlight-members {
    display: grid;
    grid-template-columns: 1fr;
}

.spotlight-members img {
    width: 100%;
    height: auto;
}

/* Join Form */

#main-join {
    display: grid;
    grid-template-columns: 1fr;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    justify-self: center;
    border: 1px solid var(--dark-slate-gray);
    margin-bottom: 20px;
}

form fieldset {
    border: none;
}

form select {
    width: 100%;
}

form label {
    font-size: 20px;
}

form input {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    width: 100%;
}

form :required {
    border-left: 4px solid red;
}

form select:required {
    border-left: 4px solid red;
}

form select:valid {
    border-left: 4px solid green;
}

form input:valid {
    border-left: 4px solid green;
}

form textarea:valid {
    border-left: 4px solid green;
}

form button {
    width: 40%;
    justify-self: center;
    background-color: var(--dark-slate-gray);
    padding: 10px;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--silver);
    color: var(--dark-slate-gray);
    animation: myTransition 4s;
}

.membership-levels {
    align-self: center;
}

.membership-levels h2 {
    text-align: center;
}

.membership-levels button {
    align-self: center;
    text-align: center;
    background-color: var(--outer-space);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.membership-levels button:hover {
    background-color: var(--dark-slate-gray);
}

.membership-levels section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--battleship-gray-2);
    width: 70%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-self: center;
}

.membership-levels section:nth-child(even) {
    background-color: var(--silver);
}

/* Dialog and Modals */

#membership-details {
    background-color: var(--battleship-gray-2);
    padding: 10px;
    border-radius: 10px;
    color: black;
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: center;
}

#membership-details button {
    position: absolute;
    background-color: var(--silver);
    top: 10%;
    font-size: 30px;
    color: var(--dark-slate-gray);
    right: 30px;
    padding: 10px;
    cursor: pointer;
}

#membership-details button:hover {
    background-color: var(--dark-slate-gray);
    color: var(--silver);
}

dialog h1 {
    text-align: center;
    background-color: var(--silver);
    padding: 10px;
    color: var(--dark-slate-gray);
}

dialog p {
    margin: 10px;
    font-size: 20px;
}

dialog li {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Thank You page */

#thankyou-info {
    padding: 10px;
}

#thankyou-info p {
    margin-bottom: 20px;
}

/* Discovery Page */

.places-card {
    display: flex;
    flex-direction: column;
    background-color: var(--battleship-gray-2);
    margin: 20px;
    border: 1px solid var(--dark-slate-gray);
    padding: 10px;
    width: auto;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

.places-card p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.places-card button {
    background-color: var(--dark-slate-gray);
    color: var(--silver);
    cursor: pointer;
}

.places-card button:hover {
    background-color: var(--silver);
    color: var(--dark-slate-gray);
}

.places-card img {
    max-width: 300px;
    max-height: 400px;
    border: 3px solid var(--dark-slate-gray);
}

/* Footer */

footer {
    background-color: var(--silver);
    padding: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

#footer-images {
    display: flex;
}

#footer-images img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

#footer-images img:hover {
    animation: myTransition 1s;
}

#footer-images a:hover {
    background-color: var(--battleship-gray);
}