/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cardo", serif;
}

:root {
    --pearl: #eae0ccff;
    --sage: #a0a083ff;
    --paynes-gray: #4d6a6dff;
}

/* Header */

header {
    background-color: var(--paynes-gray);
    padding: 10px;
    color: white;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img {
    width: 200px;
    border: solid 1px var(--pearl);
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Nav */

a {
    display: none;
}
.open a {
    display: block;
    color: var(--pearl);
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    padding: 20px;
}

.open a:hover {
    color: var(--paynes-gray);
    background-color: var(--pearl);
}

#menu {
    padding: 10px;
    right: 10px;
    position: absolute;
}

#menu::before {
    content: "☰ ";
}

/* Main */

main h2 {
    color: var(--paynes-gray);
    font-size: 40px;
    margin: 20px 0 0 40px;
}

.home-sections {
    display: grid;
    grid-template-columns: 1fr;
}

.home-sections section {
    border: none;
    margin: 20px;
}

.section-list h2, .section-image h2,
.web-certificate h2 {
    background-color: var(--paynes-gray);
    color: var(--pearl);
    text-align: center;
    margin: 20px;
}

.section-list ul {
    padding: 30px 0 0 50px;
}

.section-image {
    text-align: center;
}

.web-certificate {
    border: none;
}

.certificates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--paynes-gray);
}

.certificates section {
    background-color: var(--pearl);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--paynes-gray);
}

.courses {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
}

.courses section {
    background-color: var(--paynes-gray);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--pearl);
}

.courses section:nth-child(even) {
    background-color: var(--sage);
    color: var(--pearl);
}

footer {
    background-color: var(--paynes-gray);
    text-align: center;
    color: var(--pearl);
    font-size: 20px;
    padding: 20px;
}